.container {
    @apply 2xl:w-[1440px] xs:w-full;
    height: 1029px;
    display: flex;
    justify-content: center;
    align-items: center;

    .panel {
        @apply 2xl:w-[1149px] xs:w-full;
        height: 1029px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .burger-menu-icon {
            @apply xs:w-11/12 h-[50px] flex items-center xs:visible 2xl:hidden;
        }
    }
}
