
.header {
    // width: 1069px;
    @apply xs:w-full;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-layout {
    @apply 2xl:w-[1069px] sm:h-[52px] xs:h-[300px] xs:gap-3 xs:w-11/12 xs:flex xs:justify-between sm:flex sm:flex-row;
    // height: 52px;
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
    div:nth-child(1) {
        @apply xs:flex xs:flex-col sm:flex sm:flex-row xs:gap-2 xs:items-start;
        width: 116px;
        height: 23px;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color:#000000;
    }
    div:nth-child(2) {
        @apply 2xl:w-[693px] xs:w-11/12 xs:flex xs:flex-col sm:flex sm:flex-row xs:gap-2 xs:justify-center xs:items-start;
        // width: 693px;
        height: 52px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .search-box {
            @apply 2xl:w-[354px] xs:w-full;
            height: 52px;
            position: relative;
            margin-right: 15px;
            top:-23px;
        }
        .selectbox-1 {
            @apply xs:w-full 2xl:w-[162px];
            height: 51px;
            margin-right:14px;
            border-radius: 8px;
            padding: 15px 24px 15px 24px;
            border: 1px solid #EAEAEA;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: left;
            color: #ADA7A7;
            outline:none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url('../../../assets/DotsThree.svg');
            background-repeat: no-repeat;
            background-position: right 24px center;
            cursor: pointer;
        }

        .selectbox-2 {
            @apply xs:w-full 2xl:w-[148px];
            height:51px;
            border-radius: 8px;
            padding: 15px 24px 15px 24px;
            border: 1px solid #EAEAEA;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: left;
            color: #ADA7A7;
            outline:none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url('../../../assets/arrow-down.svg');
            background-repeat: no-repeat;
            background-position: right 24px center;
            cursor: pointer;
        }
    }


}

.audience-list {
    @apply 2xl:w-[1069px] xs:w-11/12 overflow-x-hidden xs:px-2;
    // width: 1069px;
    height: 776px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-top: 32px;
    border: 1px solid #EAEAEA;
    color: #EAEAEA;
    background-color: #FFFFFF;

    .audience-tag {
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: auto;
        height: 21px;
        opacity: 0.5px;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;
        color: #000000;
    }

    .audience-name-container {
        height: 36px;
        display: flex;
        align-items: center;
        gap: 16px
    }

    .audience-name {
        width: auto;
        height: 21px;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;
        color: #000000;
    }

    .audience-status {
        width: auto;
        height:21px;
        color: #8241FF;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;
    }

    .user-image-rect {
        width: 36px;
        height: 36px;
        border-radius: 3px;
        background: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        .gallery {
            width: 24px;
            height: 24px;
            color:#000000;
        }
    }
}

